input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.input-color {
    position: relative;
}
.input-color p {
    display: inline-block;
}
.input-color .color-box {
    padding-left: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: relative;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#legend {
  /* Appearance */
  background-color: white;
  padding: 20px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.75;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#legend:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}
